.u-section-1 .u-sheet-1 {
  min-height: 894px;
}

.u-section-1 .u-image-1 {
  width: 554px;
  height: 404px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -352px auto 0 48px;
}

.u-section-1 .u-text-2 {
  margin: 48px auto 0 33px;
}

.u-section-1 .u-image-2 {
  width: 527px;
  height: 404px;
  margin: 17px 16px 0 auto;
}

.u-section-1 .u-btn-1 {
  font-size: 1.875rem;
  background-image: none;
  margin: -337px auto 60px 48px;
  padding: 30px 210px 30px 209px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 570px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1501px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 383px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -39px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 113px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 183px;
    margin-right: 13px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1061px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 241px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -38px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -190px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 261px;
    margin-top: 161px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -341px;
  }
}