.u-section-1 .u-sheet-1 {
  min-height: 1350px;
}

.u-section-1 .u-image-1 {
  width: 464px;
  height: 261px;
  margin: 33px auto 0 28px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: -185px 166px 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: 28px 166px 0 auto;
  padding: 25px 165px 26px;
}

.u-section-1 .u-image-2 {
  width: 464px;
  height: 261px;
  margin: 12px 648px 0 28px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: -185px 166px 0 auto;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: 28px 166px 0 auto;
  padding: 25px 165px 26px;
}

.u-section-1 .u-image-3 {
  width: 464px;
  height: 261px;
  margin: 11px 648px 0 28px;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: -185px 166px 0 auto;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: 28px 166px 0 auto;
  padding: 25px 165px 26px;
}

.u-section-1 .u-image-4 {
  width: 464px;
  height: 261px;
  margin: 128px auto 0 28px;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  margin: -185px 166px 0 auto;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: 28px 166px 60px auto;
  padding: 25px 165px 26px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -163px;
    margin-right: 33px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 33px;
    margin-right: 30px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 56px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -163px;
    margin-right: 33px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 30px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 71px;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -202px;
    margin-right: 30px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 56px;
    margin-right: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: 25px;
    margin-left: 117px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 28px;
    margin-right: 166px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 166px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 51px;
    margin-left: 117px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 65px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 51px;
    margin-right: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 13px;
    margin-left: 117px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 41px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 25px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-left: 76px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 76px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 76px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1070px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 191px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 105px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 105px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 191px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 191px;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 191px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -115px;
    margin-right: 105px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 105px;
  }
}